
		<!-- Footer Area Start -->
		<footer class="footer" id="Contact">
			<div class="subscribe-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="subscribe-box">
									<form action="#">
								<div class="row" style="display: flex;justify-content: center;">
									<div class="col-lg-12">
										<div class="heading-area">
												<h5 class="sub-title">
														Contact Us
												</h5>
												<h4 class="title">
													We’re glad to help you
												</h4>
										</div>
									</div>
									<!-- <div class="col-lg-3 col-4 d-flex align-self-center">
										<div class="icon">
											<img src="assets/images/mail-box.png" alt="">
										</div>
									</div> -->
									<div class="col-lg-9 col-12 d-flex align-self-center">
										<div class="form-area">
											<input type="text" name="name"  placeholder="Your Full Name">
										</div>
										
									</div>
	
									<div class="col-lg-9 col-12 d-flex align-self-center">
										<div class="form-area">
												<input type="text" name="email" placeholder="Email">
										</div>
										
									</div>
	
									<div class="col-lg-9 col-12 d-flex align-self-center">
										<div class="form-area">
											<input type="text" name="subject" placeholder="Subject">
										</div>
										
									</div>
	
									<div class="col-lg-9 col-12 d-flex align-self-center">
										<div class="form-area ">
											
											<input type="text" name="message"   placeholder="Can we help you?">
											
										</div>
										
									</div> 
	
									<div class="col-lg-9 d-flex align-self-center">
										<div class="button-area">
											<button class="mybtn1" type="submit">Send
												<span><i class="fas fa-paper-plane"></i></span>
											</button>
										</div>
									</div>
									
	
								</div>
	
	
	
							</form>
							
							
	
							</div>
						</div>
					</div>
				</div>
			</div>
		
		<div class="copy-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<div class="left-area">
							<p>Copyright 2020. All Rights Reserved By <a href="https://ethcrash.co/">ethcrash.co</a>
							</p>
						</div>
					</div>
					<div class="col-lg-7">
						<ul class="copright-area-links">
							<li>
								<a href="#">Terms Of Use</a>
							</li>
							<li>
								<a href="Ethcrash-PrivacyPolicy.pdf" target="_blank">Privacy Policy</a>
							</li>
							
							<li>
								<a href="faqs" target="_blank">Faqs</a>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer> 
	<!-- Footer Area End -->

	<!-- Back to Top Start -->
	<div class="bottomtotop" style="display: none;">
		<i class="fas fa-chevron-right"></i>
	</div>
	<!-- Back to Top End -->

	<!-- Sign In Area Start -->
	<div class="modal fade login-modal" id="signin" tabindex="-1" role="dialog" aria-labelledby="signin" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<div class="modal-body">
					<div class="logo-area">
							<img class="logo" src="assets/images/logo.png" alt="">
					</div>

					<div class="form-area">
						<form action="#" method="POST">
							<div class="form-group">
									<label for="login-input-email">Email</label>
									<input type="email" class="input-field" id="sign-in-username" placeholder="Enter Your Username">
							</div>
							<div class="form-group">
									<label for="login-input-password">Password</label>
									<input type="password" class="input-field" id="sign-in-password" placeholder="Password">
							</div>
							<div class="form-group">
								<div class="box">
									<div class="left">
											<input type="checkbox" class="check-box-field" id="sign-save-password" checked="">
										<label for="input-save-password">Remember Password</label>
									</div>
									<div class="right">
										<a href="#">
											Forgot Password?
										</a>
									</div>
								</div>
							</div>
							<div class="form-group">
								   <button type="submit" class="mybtn1">Sign In</button>
							</div>
						</form>
					</div>
					<div class="form-footer">
						<p>Not a member? 
								<a href="#">Create account <i class="fas fa-angle-double-right"></i></a>
						</p>
					</div>
				</div>
			</div>
			</div>
		</div>
		<!-- Sign In Area End -->
	
		<!-- SignUp Area Start -->
		<div class="modal fade login-modal sign-in" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered " role="document">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<div class="modal-body">
						<div class="logo-area">
								<img class="logo" src="assets/images/logo.png" alt="">
						</div>

						<div class="form-area">
							<form action="#" method="POST">
								<div class="form-group">
										<label for="input-name">Username</label>
										<input type="text" class="input-field" id="input-name" placeholder="Enter Your Username">
								</div>
								<div class="form-group">
										<label for="input-email">Email</label>
										<input type="email" class="input-field" id="input-email" placeholder="Enter Your Email">
								</div>
								<div class="form-group">
										<label for="input-password">Password</label>
										<input type="password" class="input-field" id="input-password" placeholder="Enter Your Password">
								</div>
								<div class="form-group">
										<label for="input-con-password">Confirm Password</label>
										<input type="password" class="input-field" id="input-con-password" placeholder="Re-enter Your Password">
								</div>

								<div class="form-group">
									<div class="check-group">
											<input type="checkbox" class="check-box-field" id="input-terms" checked="">
											<label for="input-terms">
													I agree with <a href="#">Terms Of Use</a> and  <a href="Ethcrash-PrivacyPolicy.pdf">Privacy Policy</a>
											</label>
									</div>
								</div>
								<div class="form-group">
									<button type="submit" class="mybtn1">Sign Up</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				</div>
			</div>

		
		<!-- SignUp Area End -->




	<!-- jquery -->
	<script src="assets/js/jquery.js"></script>
	<!-- popper -->
	<script src="assets/js/popper.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/js/bootstrap.min.js"></script>
	<!-- plugin js-->
	<script src="assets/js/plugin.js"></script>

	<!-- MpusemoverParallax JS-->
	<script src="assets/js/TweenMax.js"></script>
	<script src="assets/js/mousemoveparallax.js"></script>
	<!-- main -->
	<script src="assets/js/main.js"></script>
</body>

</html>

