


	<!-- faq-section start -->
	<section class="faq-section">
		<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-10">
						<div class="section-heading">
							<h5 class="subtitle">
									Got any Question 
							</h5>
							<h2 class="title">
									We have answers
							</h2>
							
						</div>
					</div>
				</div>
			<div class="row">
			<div class="col-lg-12">
				<div class="faq-wrapper">
				<ul class="nav nav-tabs" id="myTab" role="tablist" style="display: none">
					<li class="nav-item">
					<a class="nav-link active" id="ticket-tab" data-toggle="tab" href="#ticket" role="tab" aria-controls="ticket" aria-selected="true">Cryptogames</a>
					</li>
					
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="ticket" role="tabpanel" aria-labelledby="ticket-tab">
					<div class="accordion sorteo-accordion" id="accordionExample">
						<div class="card">
						<div class="card-header" id="headingOne">
							<h2 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-question"></i> What is EthCrash?</button>
							</h2>
						</div>
						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
							<div class="card-body">
							<h5>
								<div style="text-align: center;">The Friendlier Easier Place To Win</div>
							</h5>
							<p style="text-align: justify; font-size: 16px">
								Ethcrash's founders got together and built something marvellous, a different way for you to place bets when you want, wherever you are and made it their mission to give you the best possible games site. Besides, they presented the opportunity for you to wager your way on the most thrilling games in the world, from Dice, Binary Option, Lotto and Crash game, untold thrills right at your fingertips.<br><br>

								So welcome you to join us and continue the adventure that our founders started. Jump in and share the thrill with us today!
							</p>
							</div>
						</div>
						</div>
						<div class="card">
						<div class="card-header" id="headingTwo">
							<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-question"></i> Are there any referral policies provided and its conditions?</button>
							</h2>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
							<div class="card-body">
							<h5>
								<div style="text-align: center;">Referral Policy</div>
							</h5>
							<p style="text-align: justify; font-size: 16px">
								The referral policy is part of Ethercrash's business plan, whereby we offer rewards of up to <b>2.5%</b> of <b>Total Profits</b> or <b>Total Volumes</b> (depending on the game) to connect more and more players. <br>
								Either by referring or getting referred, you will benefit from this win-win situation, so please join our community and look for a referral link.<br>

								<div style="text-align: center; font-size: 15px"><b>"The more members, the higher bonuses"</b></div>
							</p>
							<h5>
								<div style="text-align: center;">Conditions</div>
							</h5>
							<p style="text-align: justify; font-size: 16px">
								To qualify for the referral policy, you need to fulfil these conditions:<br>
								&nbsp; + Every day, you have to wager at least 200 ECR.<br>
								&nbsp; + Of course, you must have your membership network.<br><br>
								<b>*Note:</b> The referral policy will be reset at 0:00 (Server Timezone)
							</p>
							</div>
						</div>
						</div>
						<div class="card">
						<div class="card-header" id="headingThree">
							<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="fa fa-question"></i>Ethcrash game & referral bonus</button>
							</h2>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
							<div class="card-body">
							<h5>
								<div style="text-align: center;">How To Play</div>
							</h5>
							<p style="text-align: justify; font-size: 16px">
								Cash-out your wager before the crash happened. If you don't, you will lose that round.<br>
								Set the multiplier number, your wager is multiplied by that when you win.<br>
								E.g: You wager 100 ECR at 3.0 and when you win you will get 300 ECR so your profit is 200 ECR (the profit is multiplied by the rate of <b>100%</b>).
							</p>
							<h5>
								<div style="text-align: center;">Referral Bonus</div>
							</h5>
							<p style="text-align: justify; font-size: 16px ">	
								In Ethercrash game, <b>Profit</b> is a notable element since the referral bonus policy will be applied on that funds.<br>
								Earn up to <b>2.5%</b> of <b>Total Profit</b> from your referral and downline member(s).<br>
								&nbsp; + 1% from your referral member(s) <br>
								&nbsp; &nbsp; Level 1: 1% <br>
								&nbsp; + 1.5% from your downline member(s) <br> 
								&nbsp; &nbsp; Level 2: 0.5% | Level 3: 0.5% <br>
								&nbsp; &nbsp; Level 4: 0.25% | Level 5: 0.25%
							</p>
							</div>
						</div>
						</div>
						<div class="card">
						<div class="card-header" id="headingFour">
							<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><i class="fa fa-question"></i> Lucky Dice Game & Referral Bonus</button>
							</h2>
						</div>
						<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
							<div class="card-body">
							<h5>
								<div style="text-align: center;">How To Play</div>
							</h5>
							<p style="text-align: justify; font-size: 16px">
								Select the <b>Even</b> and/or <b>Odd</b> button and then choose the amount you want to wager. When the result is an odd (or even) number coincides with the one you selected earlier you will win (the profit is multiplied by the rate of <b>95%</b>).<br>
								<b>And/Or</b><br>
								Select the <b>Number(s)</b> which belong to Even and/or Odd section and then choose the amount you want to wager. When the result is the number(s) coincides with the number you selected before you'll win. Moreover, each Number has the number of times multiplied (in the lower-left corner of each number). So when you win, the amount you wager will be multiplied with this number (the profit is multiplied by the rate of <b>95%</b>).
							</p>
							<h5>
								<div style="text-align: center;">Referral Bonus</div>
							</h5>
							<p style="text-align: justify; font-size: 16px ">	
								The <b>Referral Bonus</b> will be calculated on <b>Total Volume</b> is a fascinating policy that Ethcrash want to offer to players.<br>
								Earn up to <b>2.5%</b> of <b>Total Volume</b> from your referral and downline member(s).<br>
								&nbsp; + 1% from your referral member(s) <br>
								&nbsp; &nbsp; Level 1: 1% <br>
								&nbsp; + 1.5% from your downline member(s) <br> 
								&nbsp; &nbsp; Level 2: 0.5% | Level 3: 0.5% <br>
								&nbsp; &nbsp; Level 4: 0.25% | Level 5: 0.25%
							</p>
							</div>
						</div>
						</div>

						<div class="card">
						<div class="card-header" id="headingFive">
							<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><i class="fa fa-question"></i> Giga Lottery & Referral Bonus</button>
							</h2>
						</div>
						<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
							<div class="card-body">
							<h5>
								<div style="text-align: center;">How To Play</div>
							</h5>
							<p style="text-align: justify; font-size: 16px">
								
								Enter any number you want into five positions on the ticket(s) then click Bet Now. <br>
								&nbsp; + You can buy <b>10 tickets</b> once. <br>
								&nbsp; + Use <b>Quick Pick</b> to fill in the sequence of numbers faster. <br> <br>

								<b>Prize Structure:</b><br>
								&nbsp; + Jackpot: <b>17,777 ECR</b> (matches five numbers)<br>
								&nbsp; + 1st: <b>1,000 ECR</b> (matches four numbers)<br>
								&nbsp; + 2nd: <b>100 ECR</b> (matches three numbers)<br>
								&nbsp; + 3rd: <b>5 ECR</b> (matches two numbers)<br>
							</p>
							<h5>
								<div style="text-align: center;">Referral Bonus</div>
							</h5>
							<p style="text-align: justify; font-size: 16px ">	
								The <b>Referral Bonus</b> will be calculated on <b>Total Volume</b> is a fascinating policy that Ethcrash want to offer to players.<br>
								Earn up to <b>2.5%</b> of <b>Total Volume</b> from your referral and downline member(s).<br>
								&nbsp; + 1% from your referral member(s) <br>
								&nbsp; &nbsp; Level 1: 1% <br>
								&nbsp; + 1.5% from your downline member(s) <br> 
								&nbsp; &nbsp; Level 2: 0.5% | Level 3: 0.5% <br>
								&nbsp; &nbsp; Level 4: 0.25% | Level 5: 0.25%
							</p>
							</div>
						</div>
						</div>

						<div class="card">
						<div class="card-header" id="headingSix">
							<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"><i class="fa fa-question"></i> Binary Option & Referral Bonus</button>
							</h2>
						</div>
						<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
							<div class="card-body">
							<h5>
								<div style="text-align: center;">How To Play</div>
							</h5>
							<p style="text-align: justify; font-size: 16px">
								
								Choose the amount you want to wager then select one of two ranges (or both) following: <br>
								&nbsp; + <b>From 0 to 49</b> <br>
								&nbsp; + <b>From 50 to 99</b> <br> 
								If the result appears a number in the range you selected earlier, you'll win (the profit is multiplied by the rate of <b>95%</b>).
							</p>
							<h5>
								<div style="text-align: center;">Referral Bonus</div>
							</h5>
							<p style="text-align: justify; font-size: 16px ">	
								The <b>Referral Bonus</b> will be calculated on <b>Total Volume</b> is a fascinating policy that Ethcrash want to offer to players.<br>
								Earn up to <b>2.5%</b> of <b>Total Volume</b> from your referral and downline member(s).<br>
								&nbsp; + 1% from your referral member(s) <br>
								&nbsp; &nbsp; Level 1: 1% <br>
								&nbsp; + 1.5% from your downline member(s) <br> 
								&nbsp; &nbsp; Level 2: 0.5% | Level 3: 0.5% <br>
								&nbsp; &nbsp; Level 4: 0.25% | Level 5: 0.25%
							</p>
							</div>
						</div>
						</div>
					</div>
					</div>
					
				</div>
				</div>
			</div>
			</div>
		</div>
	</section>
	<!-- faq-section end -->

		<!-- Footer Area Start -->
		<footer class="footer" id="Contact">


