
<!-- Hero Area Start -->
<section id="home">
<div class="hero-area" >
	<div class="container">
		<div class="row">
			<div class="col-lg-5 d-flex align-self-center">
				<div class="left-content">
					<div class="content">
						<h5 class="subtitle">
							New Crypto Game
						</h5>
						<h1 class="title">
								The Friendlier Easier Place to Win
						</h1>
						<p class="text" style="text-align: justify; font-size: 20px">
								A different way for you to place bets when you want, wherever you are. 	
						</p>
						
					</div>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="hero-img2 d-block d-md-none">
					<img src="assets/images/computer.png" alt="">
				</div>
				<div class="hero-img d-none d-md-block">
					<img class="img-fluid full-image" src="assets/images/computer.png" alt="">
					<img class="shape phone" src="assets/images/h-shapes/computer.png" alt="">

				</div>
			</div>
		</div>
	</div>
</div>
</section>
<!-- Hero Area End -->

<!-- Featured Game Area Start -->
<section class="featured-game" >
	<!-- Features Area Start -->
	<div class="features" id="Features">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="feature-box">
						<div class="feature-box-inner">
							<div class="section-heading">
								<h5 class="subtitle" style="margin-top: 100px;">
									Bring you the best
								</h5>
								<h2 class="title">
									striking games
								</h2>
				
							</div>
							<div class="row ">

								<div class="game-slider" >
									
									<div class="col-lg-4 col-md-6" style="max-width:100%;">
										
										<div class="single-feature">
											<div class="icon one">
												<img src="assets/images/feature/ec2.png" alt="" >
											</div>
											<div class="content">
												<h4 class="title">
													Exclusive Offer
												</h4>
												<p style="text-align: justify; font-size: 16px">Proud to be one of the game sites providing the most precious reward rate in the manufacturers among a policy aimed at players' enthusiasms</p>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6" style="max-width:100%;">
										<div class="single-feature">
											<div class="icon two">
												<img src="assets/images/feature/ec1.png" alt="">
											</div>
											<div class="content">
												<h4 class="title">
													Provably Fair
												</h4>
												<p style="text-align: justify; font-size: 16px">This technology has confirmed results that neither the player and game site make cheating or executing any other error impossible until the game end</p>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6" style="max-width:100%;">
										<div class="single-feature">
											<div class="icon three">
												<img src="assets/images/feature/ec3.png" alt="">
											</div>
											<div class="content">
												<h4 class="title">
														24/7 Support
												</h4>
												
												<p style="text-align: justify; font-size: 16px">Do not forget to contact our support team to express the problems you are facing or contribute to improving Ethcrash.co more and more evolve</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Features Area End -->
	<div class="container" id="Games">
		<div class="row justify-content-center" >
			<div class="col-lg-8 col-md-10">
				<div class="section-heading" >
					<h5 class="subtitle" style="margin-top: 100px;">
						Bring you the best
					</h5>
					<h2 class="title">
						striking games
					</h2>
					<p class="text">
						Challenges are an opportunity to rise. Run over them and earn cryptocurrency
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="game-slider">
					<div class="item" data-wow-delay="400ms" data-wow-duration="1200ms">
						<div class="single-game">
							<img src="assets/images/game/game neon-02.png" alt="">
							<a href="#" class="mybtn2">PLay NoW </a>
						</div>
					</div>
					<div class="item" data-wow-delay="400ms" data-wow-duration="1200ms">
						<div class="single-game">
							<img src="assets/images/game/game neon-03.png" alt="">
							<a href="#" class="mybtn2">PLay NoW </a>
						</div>
					</div>
					<div class="item" data-wow-delay="400ms" data-wow-duration="1200ms">
						<div class="single-game">
							<img src="assets/images/game/game neon-04.png" alt="">
							<a href="#" class="mybtn2">PLay NoW </a>
						</div>
					</div>
					<div class="item">
						<div class="single-game">
							<img src="assets/images/game/game neon-05.png" alt="">
							<a href="#" class="mybtn2">PLay NoW </a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

<!-- Featured Game Area	End -->
</section>



<!-- Get Start Area Start -->
<section class="get-start" id="Ethcrash">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 d-flex align-self-center">
				<div class="left-area">
					<div class="section-heading">
						<h5 class="subtitle">
							ETHCRASH.CO
						</h5>
						<h2 class="title ">
							be one of us
						</h2>
						<p class="text" style="font-size: 18px;text-align: justify;">
							Ethcrash's founders got together and built something marvellous, a different way for you to place bets when you want, wherever you are and made it their mission to give you the best possible games site. Besides, they presented the opportunity for you to wager your way on the most thrilling games in the world, from Dice, Binary Option, Lotto and Crash game, untold thrills right at your fingertips.<br><br>

							So welcome you to join us and continue the adventure that our founders started. Jump in and share the thrill with us today! 
					</p>
						<a href="#" class="mybtn1">Join Us Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="right-image">
					<img src="assets/images/ec.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Get Start Area End -->


